html {
	body {
		padding: 0;
		margin: 0;

		.text {
			margin: 1em;
			padding: 0.5em 1em;
			border-radius: 0.5em;
			font-size: 30px;
			font-weight: 900;
			font-family: 'Courier New', Courier, monospace;
			text-align: center;
			background: rgba(0, 0, 0, 0.3);
		}
	}
}
